$primary: rgb(10, 10, 29);
$secondary: rgb(235, 66, 0);
$info: #0257b1;
$warning: #94fbab;
@import "node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/root";

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

.global-styles {
  font-family: "Play", sans-serif;
  color: $secondary;
}

.hero-bg {
  background-color: $primary;
  min-height: calc(100vh - 150px);
}

.primary-bg {
  background-color: $primary;
}

.secondary-bg {
  background-color: $secondary !important;
}

.layout {
  height: 75px;
}

.feature-txt {
  font-size: 80px;
}

.button {
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  border: white 2px solid;
  display: inline-flex;
  align-items: center;
  background-color: $primary;
}

.button:hover {
  color: white;
  background-color: $secondary;
}

.park-link {
  color: maroon;
  text-decoration: none;
}

.project-card {
  border: $secondary 3px solid;
  background-color: $primary;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 400px !important;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
}

/* styles for project tags hover */
.img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.img-container:hover .project-img {
  opacity: 0.3;
}

.img-container:hover .tags {
  opacity: 1;
}

.project-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 200px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.tags {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .hero-img {
    display: none;
  }
}
